---
title: service-{{ livedoc_servicename|default('servicename') }}
subtitle: Campus Service Tempalte for Service
date: 2015-02-20
tags: ["service", "{{ livedoc_servicename|default('servicename') }}"]
---

# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Build by Ansible

## Serviceübersicht
{% if livedoc_mermaid is defined %}

```mermaid
{{ livedoc_mermaid }}
```

{% else %}

```mermaid
sequenceDiagram  
    participant access as access-{{ livedoc_servicename|default('servicename') }}-frontend 
    participant oam as access-{{ livedoc_servicename|default('servicename') }}-oam  
    participant provider as provider-{{ livedoc_servicename|default('servicename') }} 
    access ->>provider: https, http  
    oam ->>provider: MS_RDP-Group, CIFS, tcp_5985, tcp_5986, tcp_135
```
{% endif %}


## Description:
{% if livedoc_description is defined %}

{{ livedoc_description }}

{% else %}
Eine kurze Beschreibung des Services . Was kann der User erwarten wie kann er es nutzen (Frontend)

## Option OAM:
Zugriff für das Operations and Management , dieser Zugriff ist für einen umfassenden Systemzugriff auf das Service gedacht und sollte daher stark eingeschränkt sein.

#### Beispiele
- Systemadministratoren
- Wartungszugänge
- Monitoring

{% endif %}

## Details:
```YAML
servicename: {{ livedoc_servicename }}
url: {{ livedoc_url }}
bussinesunit: {{ livedoc_bussinesunit }}
costcenter: {{ livedoc_costcenter }}
end_date: {{ livedoc_end_date }}
environment: {{ livedoc_environment }}
serviceowner: {{ livedoc_serviceowner }}
serviceclass: {{ livedoc_serviceclass }}
legacy: {{ livedoc_legacy }}
managedby:
    - Manual
HL-Tickets/Projektnummer:
    - 1234156
```

{% if livedoc_usecase is defined %}
## Usecases
{{ livedoc_usecase }}

{% else %}
{{ livedoc_notes|default('no Usecases ask serviceowner') }}

{% endif %}


{% if livedoc_notes is defined %}
## Notes
{{ livedoc_notes|default('no Notes') }}
{% endif %}

## Inventory
{% if livedoc_inventory is defined %}

```YAML
{{ livedoc_inventory }}
```

{% else %}
```YAML
---
# Inventory ({{ livedoc_servicename }}):
- localhost
```
{% endif %}